body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    
  }
  
  li {
    float: left;
    text-decoration: none;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: .1em;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
    color: #000;
  }
  
  li a.active {
    color: #ffff;
    background-color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
  }

  li a.active:hover {
    background-color: #3e8e41;
    text-decoration: none;
    color: #ffff;
  }

  .floatRight{
    float: right;
  }
  
  .logo a{
    height: 50px;
    padding: 0;
  }

  .logoimg{
    height: 52px;
    width: 120px;
    object-fit: contain;
  }


  .lr-btn{
    width: 150px;
    border-radius: 3px;
    letter-spacing: 1.5px;
    margin:auto;
    margin-top: 1rem;
  }

  .login-container{
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 5%;
  }

  .login-inner{
    background-color: #e7e7e7;
    border-radius: 4%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .input-field input{
    width: 100%;
    border: none;

  }